{% extends 'base.html' %}

{% block title %}
    My Tasks - {{ task.name }}
{% endblock title %}
{% block content %}
    <div class="task-detail">
        <h1>{{ task.name }}</h1>
        <p>This task was assigned by {{ task.assignee }} on {{ task.start_date|date:"n/j/Y" }}</p>
        <a href="{% url 'create_task_note' task.id %}">Add a note</a>
            {% if not task.notes.all %}
                <p>You have no notes</p>
            {% else %}
                <h2>My notes</h2>
                    <ul>
                    {% for note in task.notes.all %}
                        <li>{{ note.instruction }}</li>
                    {% endfor %}
                    </ul>
            {% endif %}
    </div>
{% endblock content %}
